.header-container {
  min-height: 80px;
  max-height: 190px;
  min-width: 565px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  transition: height 0.4s ease;

  background-color: #002d69;
  padding: 20px 40px;

  height: 80px;
}

.row {
  display: none;
}

.column {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.row-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;

}

.header-expanded {
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
  }

  .header-menu {
    margin-left: 90px;
    margin-bottom: 10px;
  }
  


  .column {
    display: flex;
  }

  height: 190px;

  .logout {
    display: flex;
    opacity: 1;
    width: 30px;
    height: 30px;
  }
  .header-user-avatar {
    display: flex;
    opacity: 1;
    width: 45px;
    height: 45px;
  }

  label {
    right: 0;
    height: 20px;
    width: fit-content;
    font-size: 20px;
    opacity: 1;
    font-weight: 500;
    font-family: 'Montserrat';
    color: #fff;
  }

  .logout-label {
    cursor: pointer;
    display: flex;
    flex: 1;
    margin-top: 23px;
    margin-right: 20px;
    width: max-content;
  }

  .profile-label {
    cursor: pointer;
    display: flex;
    flex: 1;
    margin-top: 10px;
    margin-right: 20px;
  }

}

.header-menu {
  cursor: pointer;
}

.logout {
  cursor: pointer;
  display: none;
  margin-top: 27px;
  width: 0px;
  height: 0px;
  opacity: 0;
  color: #fff;
}

.logout-label {
  display: none;
}

.profile-label {
  display: none;
}

.profile-label:hover {
  text-decoration: underline;
}

.logout-label:hover {
  text-decoration: underline;
}

.header-user-avatar {
  display: none;
  cursor: pointer;
  width: 0px;
  height: 0px;
  opacity: 0;
  margin-top: 10px;
}

.header-logo {
  cursor: pointer;
  width: 137px;
  height: 29px;
  justify-self: flex-start;
}

label {
  cursor: pointer;
  height: 0;
  width: 0;
  opacity: 0;
}

@media (max-width: 600px) {
  .header-user-avatar {
    width: 30px;
    height: 30px;
  }
}
